.clean .bc_color {
  border-right: 3px solid #00d8ff;
  color: #fff !important;
}
.clean .top {
  height: 50px;
  width: 100%;
  color: #00f5f5;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  background: url("../../assets/img/top.png") no-repeat;
  background-size: 100% 100%;
}
.clean .main {
  display: flex;
  margin: 20px 20px 0;
}
.clean .left {
  width: 420px;
  height: 820px;
  background: url("../../assets/img/left.png") no-repeat;
  background-size: 100% 100%;
  padding: 10px 15px 20px;
  color: #fff;
}
.clean .left .title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}
.clean .left .title span:nth-child(1) {
  color: #00d7fb;
  font-size: 16px;
}
.clean .left .title span:nth-child(2) {
  font-size: 12px;
  margin-top: 5px;
}
.clean .left .title::before {
  content: "";
  display: block;
  background: url("../../assets/img/bg_36.png") no-repeat;
  background-size: 100%;
  width: 40px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 135px;
}
.clean .left .num {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.clean .left .num .le {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background: url("../../assets/img/01.png") no-repeat;
  background-size: 100%;
  width: 150px;
  height: 60px;
  color: #14d9b1;
  text-align: right;
}
.clean .left .num .le span:nth-child(1) {
  margin-top: 12px;
  margin-right: 10px;
}
.clean .left .num .le span:nth-child(2) {
  margin-right: 7px;
}
.clean .left .num .you {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.clean .left .num .you div {
  display: flex;
  flex-direction: column;
}
.clean .left .amount {
  display: flex;
  margin-bottom: 20px;
}
.clean .left .amount div {
  display: flex;
  flex-direction: column;
}
.clean .left .amount div span {
  width: 80px;
  font-size: 14px;
}
.clean .left .amount div span:nth-child(2) {
  width: 137px;
  height: 45px;
  border-bottom: 5px solid;
  margin-top: -40px;
  margin-right: 5px;
}
.clean .left .skyblue {
  border-image: linear-gradient(90deg, #1afe98 50%, white 50%) 1 1;
}
.clean .left .blue {
  border-image: linear-gradient(90deg, #1cdefe 50%, white 50%) 1 1 !important;
}
.clean .left .yellow {
  border-image: linear-gradient(90deg, #fdcd04 50%, white 50%) 1 1 !important;
}
.clean .left .use {
  display: flex;
  margin-left: 5px;
  margin-bottom: 15px;
  position: relative;
}
.clean .left .use div:nth-child(1) {
  margin-right: 5px;
  font-size: 14px;
  width: 80px;
}
.clean .left .use div:nth-child(2) {
  flex: 1;
}
.clean .left .use div:nth-child(2) .el-progress-bar__outer {
  height: 4px !important;
  width: 260px;
  margin-right: 10px;
  margin-top: 8px;
}
.clean .left .use div:nth-child(2) .el-progress__text {
  position: absolute;
  top: 5px;
  right: -230px;
  color: #fff;
}
.clean .left .day {
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
}
.clean .left .day div {
  flex: 1;
}
.clean .left .day div span {
  font-size: 14px;
  margin-right: 30px;
}
.clean .left .comTop select {
  border: none;
  background: url('../../assets/img/dayBg.png') no-repeat;
  background-size: 100%;
  width: 80px;
  color: #fff;
}
.clean .left .comTop select option {
  color: black;
}
.clean .left .time {
  margin-top: 5px;
  margin-left: 5px;
}
.clean .left .time .block {
  margin-top: 3px;
  margin-left: 80px;
}
.clean .left .time .block .available {
  padding: 5px 3px;
}
.clean .left .time span {
  font-size: 14px;
  margin-right: 30px;
}
.clean .left button {
  margin-left: 360px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}
.clean .left #map2 {
  color: white;
  width: 400px;
  height: 170px;
  background: url('../../assets/img/warn.png') no-repeat;
  background-size: 100%;
  margin: 10px 0 5px;
}
.clean .left .el-picker-panel {
  background-color: pink !important;
}
.clean .left .el-input__inner {
  width: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.clean .right {
  flex: 1;
  margin-left: 8px;
  position: relative;
}
.clean .right .topside {
  height: 720px;
  margin-bottom: 8px;
  display: flex;
}
.clean .right .topside .left_2 {
  flex: 90%;
  margin-top: 15px;
}
.clean .right .topside .right_2 {
  flex: 10%;
}
.clean .right .topside .right_2 div {
  background-color: #00020a;
  color: #969696;
  width: 100%;
  margin-left: 15px;
  margin-bottom: 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100px;
  font-size: 16px;
}
.clean .right .info {
  width: 400px;
  left: 187px;
  top: 60px;
  position: absolute;
}
.clean .right .info .color {
  color: #1cdefe;
}
.clean .right .info .coordinate {
  width: 180px;
  height: 95px;
  background: url('../../assets/img/map.png');
  background-size: 100% 100%;
  position: relative;
}
.clean .right .info .coordinate span {
  color: #34fecf;
  font-size: 12px;
  position: absolute;
  top: 9px;
  left: 60px;
  width: 120px;
}
.clean .right .info .panel {
  width: 180px;
  height: 220px;
  background: url('../../assets/img/点位bg.png') no-repeat;
  background-size: 100% 100%;
  color: white;
  z-index: 9;
}
.clean .right .info .panel nav {
  padding-top: 12px;
  margin-left: 30%;
}
.clean .right .info .panel .item {
  margin: 15px;
}
.clean .right .info .panel .item .table #map {
  width: 400px;
  color: white;
  height: 170px;
}
.clean .set {
  position: absolute;
  right: 75px;
  top: 0;
}
.clean .set img {
  width: 50px;
  height: 50px;
}
