.active {
  background: url("../../assets/img/text_bg.png") no-repeat;
  background-size: 100%;
  color: #7a5320;
}
select {
  border: none;
  outline: none;
  background: #905200;
  color: white;
}
select option {
  background: #494848;
}
i {
  font-style: normal;
}
.top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: white;
}
.top input {
  padding-left: 15px;
}
.content {
  margin-top: 10px;
  background: url("../../assets/img/框3.png") no-repeat;
  background-size: 100%;
  width: 865px;
  height: 375px;
}
.content .scroll {
  overflow-y: auto;
  height: 330px;
}
.content .scroll::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.content .item {
  color: white;
  display: flex;
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.content .item span {
  font-size: 14px;
  width: 25%;
}
.content .play {
  font-size: 14px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-align: left;
}
.content .play span {
  font-size: 12px;
  margin-right: 125px;
}
.content .play .name {
  display: inline-block;
  margin-left: 45px;
  width: 140px;
  text-overflow: ellipsis;
  /*只是起到注解作用*/
  white-space: nowrap;
  /*不让文本换行*/
  overflow: hidden;
  /*超出的部分显示...*/
}
.content .play img {
  width: 25px;
  height: 25px;
}
